<tr>

<td><%= czynnosc.tc_kod %></td>
<td style="width:200px;"><%= czynnosc.tc_opis %></td>

<td style="width:100px;"><%= czynnosc.tc_zrodlo_pochodzenia %></td>
<td><%= czynnosc.created_at.strftime("%d-%m-%Y") %></td>
<% if permitted_to? :delete, :typyczynnoscis %>
        <td><%= button_to("usuń", usun_po_id_czynnosc_path(czynnosc.id), :class=>"szczegoly" ) %></td>
      <% end %>
</tr>