<tr>

<td style="width:100px;"><%= predkosc.pr_rodzaj_wozka %></td>
<td style="width:200px;"><%= predkosc.pr_opis %></td>

<td style="width:50px; padding:0 5px;"><%= predkosc.pr_kod %></td>

<% if predkosc.pr_predkosc_km != nil  %>
<td ><%= predkosc.pr_predkosc_km.round(2) %></td>
<td ><%= (3600/(predkosc.pr_predkosc_km * 1000)).round(2) %></td>
<td ><%= ((3600/(predkosc.pr_predkosc_km * 1000))*27.8).round(2) %></td>
<% else %>
<td>0</td>
<td>0</td>
<td>0</td>
<% end %>
<td><%= predkosc.created_at.strftime("%d-%m-%Y") %></td>
     

	<% if permitted_to? :delete, :pomocniczes %>
	<td style="border:0 width:100px;"><%= button_to("", edit_predkosc_path(predkosc.id), :class=>"edit",:title=>"Edytuj prędkość nr. #{predkosc.id}" ) %>
	<% end %>
	<% if permitted_to? :delete, :pomocniczes %>
<%= button_to("", usun_po_id_predkosc_path(predkosc.id), :class=>"delete", :title=>"Usuń prędkość nr. #{predkosc.id}" ) %></td>
	<% end %>


</tr>