<% title "Edycja prędkości nr. #{params[:id]}" %>
 <div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Edycja prędkości nr. <%= "#{params[:id]}" %></div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >
<div style="width:650px; float:left;">

<div id="insert" style="width:400px; float:left; margin:0; padding:20px 0;">
<%= form_for @predkosc do |f| %>
<table summary="Section form fields">
  <tr>
    <th><%= f.label :pr_rodzaj_wozka, "Rodzaj wózka: " %></th>
    <td><%= f.text_field :pr_rodzaj_wozka %></td>
  </tr>
  <tr>
    <th><%= f.label :pr_opis, "Opis prędkości: " %></th>
    <td><%= f.text_field :pr_opis %></td>
  </tr>
  <tr>
    <th><%= f.label :pr_kod, "Kod dla prędkości: " %></th>
    <td><%= f.select(:pr_kod, options_for_select([
      ['F-MAX', 'F-MAX'], 
      ['F-ŚREDNIA', 'F-ŚREDNIA'], 
      ['F-PEŁZANIA', 'F-PEŁZANIA'], 
      ['P-MAX', 'P-MAX'], 
      ['P-MIN', 'P-MIN'], 
      ['KA', 'KA']],
      1) ) %></td>
  </tr>
  <tr>
    <th><%= f.label :pr_predkosc_km, "Prędkość w [km/h]: " %></th>
    <td><%= f.text_field :pr_predkosc_km, :placeholder => '0.0' %></td>
  </tr>
 
  <tr><td>
    <%= f.hidden_field :pr_aud_us_id, :value => current_user.id %>

    </td>
    </tr>


</table>

     <%= submit_tag("" , :class => "save", :remote => true) %>

<% end %>
</div>
</div>