<% title "Typy czynnosci" %>
 <div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Prędkości</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >
<div style="width:650px; float:left;">

<table id="predkosci" class="display">
    <thead>
      <th>Rodzaj<br/>wózka</th>
      <th>Opis</th>
    
      <th>Kod</th>
      <th>Prędkość <br/>w [km/h]</th>
      <th>Prędkość <br/>w [m/s]</th>
      <th>Prędkość <br/>TMU</th>
      <th>Data utworzenia</th>
      <th>Czynności</th>

      </thead>
<tbody>
 <% @predkosci.each do |predkosc| %>
 <%= render(:partial =>'predkosc', :locals => {:predkosc => predkosc}) %>
          
     <% end %>
     </tbody>
   </table>
</div>
<div id="insert" style="padding-right:10px;float:right;margin-top:0px;">
  <p>Dodaj nową prędkość:</p>

 <%= form_for @nowa_predkosc do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    
  <% end %>

</div>
 </div>
  <div id="header" class="header-colored" style="background-color:rgb(133, 135, 229); ">
Dodatki
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >


<div style="width:650px; float:left;">
<table id="dodatki" class="display">
<thead>
      <th>Rodzaj<br/>wózka</th>
      <th>Opis</th>
    
      <th>Kod</th>
      <th>Czas zakrętu<br/>w [sek]</th>
      <th>Czas start/stop<br/>w [sek]</th>
      
      <th>Data utworzenia</th>
      <th>Czynności</th>
</thead>
<tbody>
 <% @dodatki.each do |dodatek| %>
 <%= render(:partial =>'dodatek', :locals => {:dodatek => dodatek}) %>
          
     <% end %>
     </tbody>
   </table>
</div>
<div id="insert" style="padding-right:10px;float:right;margin-top:0px;">
  <p>Dodaj nowy dodatek:</p>

 <%= form_for @nowy_dodatek do |f| %>
  
    <%= render(:partial => 'formd', :locals => {:f => f}) %>
    
    
  <% end %>

</div>
</div>
 <div id="header" class="header-colored" style="background-color:rgb(133, 135, 189); ">
Obszary
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a><div id="visable-div" >

<div style="width:650px; float:left;">
<table id="obszary" class="display">
<thead>
      <th>Miejsce zastosowania</th>
      <th>Magazyn</th>
    
      <th>Kod</th>
      <th>Wartość dodatku</th>
      <th>Opis obszaru</th>
      <th>Czynności</th>
    
      
      <!-- <th>Data utworzenia</th> -->
</thead>
<tbody>
 <% @obszary.each do |obszar| %>
 <%= render(:partial =>'obszar', :locals => {:obszar => obszar}) %>
          
     <% end %>
     </tbody>
   </table>
</div>
<div id="insert" style="padding-right:10px;float:right;margin-top:0px;">
  <p>Dodaj nowy obszar:</p>

 <%= form_for @nowy_obszar do |f| %>
  
    <%= render(:partial => 'formo', :locals => {:f => f}) %>
    
    
  <% end %>

</div>
</div>
