<tr>

<td> <%= norma.rn_id_worker %> </td>
<td> <%= norma.rn_id_worker_merx %> </td>

<td> <%= norma.rn_data.strftime("%d-%m-%Y") %> </td>

<td> <%= norma.rn_obszar %> </td>
<td> <%= norma.rn_magazyn %> </td>
<td> <%= norma.rn_typ_operacji %> </td>


<td> <%= norma.rn_normatywy_czas_suma_tg %> </td>
<td> <%= norma.rn_normatywy_czas_suma_tj %> </td>
<td> <%= norma.rn_tabela_transportowa_suma_tg %> </td>
<td> <%= norma.rn_tabela_transportowa_suma_tj %> </td>
<td> <%= norma.rn_suma_tj %> </td>

<td> <%= norma.rn_import_file_info %> </td>
<td> <%= norma.rn_komentarz %> </td>

<% if permitted_to? :delete, :realizacjanorms %>
        <td style="border:0;"><%= button_to("", usun_po_id_realizacja_norm(norma.id), :class=>"delete" ) %></td>
      <% end %>
</tr>