<%= form_for @search do |f|  %>

  <p>
    <%= f.label "Imie, Nazwisko: " %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    <%= f.label "Numer ID Pracownika: " %><br />
    <%= f.number_field :id_worker , :class=>"input-small"%>
  </p>
  <p>
    <%= f.label "Numer ID Pracownika MERX: " %><br />
    <%= f.number_field :id_worker_merx, :class=>"input-small" %>
  </p>
  <p>
    <%= f.label "Minimalna efektywność: " %><br />
    <%= f.number_field :min_effectivity, :class=>"input-small" %>
  </p><p>
    <%= f.label "Maksymalna efektywność: " %><br/>
    <%= f.number_field :max_effectivity , :class=>"input-small"%>
  </p>
  <p>
    <%= f.label "Od: " %><br />
    <%= f.text_field :date_from, :class=>"input-small"  %>
  </p>
  <p>
    <%= f.label "Do: " %><br />
    <%= f.text_field :date_to , :class=>"input-small"%>
  </p>
  <p><%= f.submit "Szukaj" , :class => "szukaj"%></p>
<% end %>
