
<div class="section list">
  <h1>Wyszukiwanie pracowników</h2>
<% title "Szczegóły pracownika" %>
<% 
     @tmp =[]
     @tabela_dat = []
     @workers_id_table =[]
 data_table = GoogleVisualr::DataTable.new
  data_table.new_column('string', 'Dzień')
  data_table.new_column('number', 'Minimum')
  data_table.new_column('number', 'Maximum')
  j = 1
  @workers.each do |worker| 
  @workers_id_table << worker.id
  @imie_nazwisko = imie_nazwisko_worker(worker.id)[0] +" "+ imie_nazwisko_worker(worker.id)[1]
  data_table.new_column('number', @imie_nazwisko.humanize )
    cmin = cel_min(worker.id)[0].to_f
    cmax = cel_max(worker.id)[0].to_f
    @effec = Effectivenes.find(:all, :conditions => ["worker_id in (?)" , worker.id], :order => "ef_data asc") 
    @effec.each do |a|
  
     @narray = Array.new(@workers.size,0)
     @narray.insert(0,a.ef_data.strftime('%Y-%m-%d'),cmin,cmax)
     @narray.insert(j+2,a.effectivity)
     @narray.delete_at(j+3) 
     @tabela_dat << [worker.id, a.ef_data.strftime('%Y-%m-%d')]
     @tmp <<  @narray

    end
   j = j + 1
  end

  @celes = []
  @tabela_dat.sort.uniq.each do |td|
      @celes << [td[1],cel_min_by_date(td[0],td[1])[0].to_f,cel_max_by_date(td[0],td[1])[0].to_f ]
  end
  @cele_tabela = @celes.group_by(&:first).map do |date, rs|
  values = rs[0].zip(*rs[1..-1]).drop(1).map { |xs| xs.reduce(:+)/rs.size }
  [values].flatten

  end
    @aggregated_rows = @tmp.group_by(&:first).map do |date, rs|
  values = rs[0].zip(*rs[1..-1]).drop(3).map { |xs| xs.reduce(:+)}

  [date, values].flatten
  end 
  i=0
  @aggregated_rows.each do |ar|
    ar.insert(1,@cele_tabela[i][0], @cele_tabela[i][1] )
    i+=1
  end
  data_table.add_rows(@aggregated_rows)
 
  opts   = { 
        :width => '100%', 
        :height => '100%', 
        :vAxis => {:title => 'Efektywność',
           viewWindowMode: 'explicit',
              viewWindow:{
                min:0
              }

          }, 
        :hAxis => {:title => 'Dzień'},
       
        :chartArea => { :left => 50,  
                        :top => 50,
                        :width => 800,
                        :height => 350
                        }, 
        :seriesType => 'bars', 
        :bar => {groupWidth: 80},

        :series => {
          '1' => {:type => 'line'}, 
          '0' => {:type => 'line'}
          } 

        }
  @chart = GoogleVisualr::Interactive::ComboChart.new(data_table, opts)

  %>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
  



<div id='chart' class="chart"></div>
<%= render_chart @chart, 'chart' %>


<h1>Szczegółowe informacje:</h1>   
<%= button_to "" ,raport_pracownicy_efektywnosc_path(format: "xls"), :class => "export-excel" %>


<table class="result-search" cellspacing="" summary="Section list">
  <tr class="header">
      <th>ID </th>
      <th>ID Merx </th>
      <th>Nazwisko</th>
      <th>Imie</th>
      <th>Najlepsza Efektywność</th>
      <th>Najgorsza Efektywność</th>
      <th>Realizacja Celu</th>
    </tr>
    <% @@lista_id = [] %>

 <% @workers.each do |worker| %>
 <tr>
 
   <td><%= worker.id_worker %></td>
   <% @@lista_id << worker.id %>
   
      <td><%= worker.id_worker_merx %></td>
      <td style="width:150px;"><%= worker.last_name %></td>
      <td style="width:150px;"><%= worker.first_name %></td>
      <td style="text-align:right"><%= maximum_effectivity(worker.id) %>%</td>
      <td style="text-align:right"><%= minimum_effectivity(worker.id) %>%</td>
      <% 
      val1 = minimum_effectivity(worker.id)
      val2 = cel_min(worker.id)[0].to_f
      val3 = cel_max(worker.id)[0].to_f
     
          if val2 == 0 and val3 == 0
            val4 = 0
          else
            val4 = (((val1-val2)/(val3-val2))*100).round
          end

        if val4 < 0
          @klasa = "bad"
        else
          @klasa = "ok"
        end

       %>
      <td class="<%= @klasa %>" style="text-align:right;"><%= val4 %>%</td>
      
   
   
     
     
    
     
    
      </td>
      <td><%= button_to("", szczegoly_po_id_path(worker.id), :class=>"details", :title=>"Szczegóły pracownika #{worker.last_name.humanize} #{worker.first_name.humanize}" ) %></td>



      </tr>
          
     <% end %>
   </table>
<br>
