
<div class="section list">
  <h1>Wyszukiwanie pracowników</h2>
<% title "Szczegóły pracownika" %>
<% 
   @array_of_dates =[]  
   i = 0
   j = 1
    @array_of_effectivenes = []
   @array_of_dates << ['Dzień', 'Cel minimum','Cel maximum']
   @workers.each do |worker| 
     @effec = Effectivenes.find(:all, :conditions => ["worker_id in (?)" , worker.id], :order => "id DESC") 
     @imie_nazwisko = imie_nazwisko_worker(worker.id)[0] +" "+ imie_nazwisko_worker(worker.id)[1]
     @array_of_dates[0].append  @imie_nazwisko      
     @cel_min = cel_min(worker.id)[0].to_f
     @cel_max = cel_max(worker.id)[0].to_f
     # @array_of_dates << [@imie_nazwisko]
     

     @effec.each do |a| 
    
     # a.effectivity, val2,val3, a.effectivity,a.effectivity,a.effectivity
     # @array_of_dates[i+1] <<  a.effectivity
     # @array_of_dates << [a.ef_data.strftime("%d-%m-%Y")]
      val2 = cel_min(worker.id)[0].to_f
     val3 = cel_max(worker.id)[0].to_f
     indx = 0
     if @array_of_dates.flatten.include? a.ef_data.strftime("%d-%m-%Y")
      indx += @array_of_dates.flatten.index(a.ef_data.strftime("%d-%m-%Y")).to_i
      @array_of_dates.at(indx+j+2) == a.effectivity
     # # @array_of_dates.insert(indx+j+2,a.effectivity)
     # # @array_of_dates.delete_at(indx+j+3) 
     else
     @test = Array.new(@workers.size,0)

      @test.insert(0,a.ef_data.strftime("%d-%m-%Y"),val2,val3)
     @test.insert(j+2,a.effectivity)
     @test.delete_at(j+3) 
      end
    
     
     @array_of_dates << @test
   end
   j = j + 1
   i += 1 
end
  
  %>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable(
         <%= raw @array_of_dates %>);

        var options = {

          vAxis: {title: "Efektywność"},
          hAxis: {title: "Dzień"},
          seriesType: "bars",

          chartArea: { 
            left:50,
            top: 50,
            width:800,
            height:350

          },
          bar: {groupWidth: 60},
          series: {0: {type: "line"}
          , 1:{type: "line"}
          , 3:{barWidth: 124}
         }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
  


<div id="chart_div" class="chart">

</div>
   
<b>Pobierz listę w formacie: 
<%= link_to "Excel (.xls)" ,lista_pracownikow_path(format: "xls") %>


<table class="listing" summary="Section list">
  <tr class="header">
      <th>ID<br/>Pracownika</th>
      <th>ID<br/>Merx<br/>Pracownika</th>
      <th>Nazwisko</th>
      <th>Imie</th>
      <th>Najlepsza<br/>Efektywność</th>
      <th>Najgorsza<br/>Efektywność</th>
      <th>Realizacja<br/>Celu</th>
    </tr>
    <% @@lista_id = [] %>

 <% @workers.each do |worker| %>
 <tr>
 
   <td><%= worker.id_worker %></td>
   <% @@lista_id << worker.id %>
   
      <td><%= worker.id_worker_merx %></td>
      <td><%= worker.last_name %></td>
      <td><%= worker.first_name %></td>
      <td style="text-align:right"><%= maximum_effectivity(worker.id) %>%</td>
      <td style="text-align:right"><%= minimum_effectivity(worker.id) %>%</td>
      <% 
      val1 = minimum_effectivity(worker.id)
      val2 = cel_min(worker.id)[0].to_f
      val3 = cel_max(worker.id)[0].to_f
     
          if val2 == 0 and val3 == 0
            val4 = 0
          else
            val4 = (((val1-val2)/(val3-val2))*100).round
          end

        if val4 < 0
          @klasa = "bad"
        else
          @klasa = "ok"
        end

       %>
      <td class="<%= @klasa %>" style="text-align:right;"><%= val4 %>%</td>
      
   
   
     
     
    
     
    
      </td>
      <td><%= button_to("", szczegoly_po_id_path(worker.id), :class=>"details" ) %></td>



      </tr>
          
     <% end %>
   </table>
 <%= @lista_id %>
<br/>


<%= @test.index("02-04-2013") %>
<br>
<br>
<%= raw @array_of_dates.uniq  %>
<br>
<br>
<%= @array_of_dates.flatten.index("02-04-2013")  %>
