<% title "Importy" %>

<!-- <h1>Import danych</h1>
<p><b>Import danych z pliku CSV</b></p>
<p>Efektywności:</p>
  <%= form_tag import_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!", :class => "szczegoly"%>
  <% end %> -->


  <p><b>Import danych z pliku EXCEL</b></p>

  <div class="left_auto_div">
 <p>Tabela wymiany czasów:</p>

  <%= form_tag import_rn_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!" , :class => "szczegoly"%>
  <% end %>


</div>
<!-- <div style="float:left; padding:10px; width: auto; height: auto;">
<p>Efektywności:</p>

  <%= form_tag import_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!" , :class => "szczegoly"%>
  <% end %> 


</div> -->
<div class="left_auto_div">

<p>Tabela Normatywów:</p>

  <%= form_tag import_tn_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!" , :class => "szczegoly"%>
  <% end %>



</div>
<div class="left_auto_div">
<p>Tabela Transportowa:</p>

  <%= form_tag import_tt_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!" , :class => "szczegoly"%>
  <% end %>



</div>
<div class="left_auto_div">

  <p>Tabela Czynności:</p>

  <%= form_tag import_tc_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!" , :class => "szczegoly"%>
  <% end %>


</div>
<div class="left_auto_div">
  <p>Tabela Czasow dostepnych:</p>

  <%= form_tag import_tdc_workers_path, multipart: true do %>
    <%= file_field_tag :file , :class => "szczegoly"%><br/><br/>
    <%= submit_tag "Importuj!" , :class => "szczegoly"%>
  <% end %>

</div>
