<% title "Lista pracowników" %>
<% if permitted_to? :new, :workers %>
<div id="header" class="header-colored" style="background-color:rgb(233, 135, 29); ">
Dodaj nowego pracownika do systemu
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a>
<div id="visable-div" >
  <% @page_title = "Dodaj pracownika" %>
 <div id="1" class="middle-content">
 <div id="insert" style=" float:left; margin:0; padding:20px 10px;">

  <%= form_for @new_worker  do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("" , :class => "add", title: "Dodaj nowego pracownika") %>
    </div>
    
  <% end %>
</div>
</div>
</div>

<% end %>
<div id="header" class="header-colored" style="background-color:rgb(176, 29, 233); ">
 Lista pracowników
  
</div>
<a href="#" id="hide" style="float:right; margin-top:-22px; color:#fff; font-weight:500; text-decoration:none;" ><span>-</span></a>
<div id="visable-div" >
<table id="lista-pracownikow" class="display">
    <thead>

      <th>ID HR pracownika</th>
      <th>ID Merx pracownika</th>
      <th>Nazwisko</th>
      <th>Imie</th>
      <th>Stanowisko</th>
      <th>Ostatnia realizacja norm</th>
      <th>Ostatni czas dostępny</th>
      <th>Ostatna efektywność</th>
      <th>Ostatnia realizacja celu</th>
      <th></th>


  </thead>
   <tbody>
 <% @workers.each do |worker| %>

 <tr>
 

      <td><%= worker.id_worker_hr %></td>
      <td><%= worker.id_worker_merx %></td>
      <td><%= worker.last_name %></td>
      <td><%= worker.first_name %></td>
      <td><%= worker.stanowisko %></td>
      <td style="text-align:right"><%= relizacja_norm_last(worker.id_worker_merx,"realizacja_norm") %> min</td>
      <td style="text-align:right"><%= relizacja_norm_last(worker.id_worker_merx,"czas_dostepny") %> min</td>
      <td style="text-align:right"><%= relizacja_norm_last(worker.id_worker_merx,"efektywnosc") %>%</td>

      <% 
      val1 = relizacja_norm_last(worker.id_worker_merx,"efektywnosc") 
      val2 = relizacja_norm_last(worker.id_worker_merx,"cmin") 
      val3 = relizacja_norm_last(worker.id_worker_merx,"cmax") 
     
          val4 = ostatni_poziom_zrealizowanego_celu(val1,val2,val3)
          if val4 >= 60
           @klasa = "ok"
          else 
            if val4 == 0
            @klasa = "neutral"
            else
            @klasa = "bad"

            end
          end

       %>
      <td class="<%= @klasa %>" style="text-align:right;"><%= val4 %>%</td>

      <td style="width:50px;"><%= button_to("", szczegoly_po_id_path(worker.id), :class=>"details" ) %>
      
      <% if permitted_to? :delete, :workers %>
        <%= button_to("", usun_po_id_path(worker.id), :class=>"delete", :style=>"margin-top:4px; margin-left:5px;" ) %>
      <% end %>

      </td>
      </tr>
          
     <% end %>
   </tbody>
   </table>
 </div>
