<% @page_title = "Show Section: #{@pracownik.name}" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="section show">
  <h2>Show Section</h2>

  <table summary="Section detail view">
    <tr>
      <th>Page ID</th>
      <td><%= @pracownik.page_id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @pracownik.name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @pracownik.position %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%= @pracownik.visible ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @pracownik.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @pracownik.updated_at %></td>
    </tr>
    <tr>
      <th>Content Type</th>
      <td><%= @pracownik.content_type %></td>
    </tr>
    <tr>
      <th>Content</th>
      <td><%= @pracownik.content %></td>
    </tr>
  </table>
  
</div>
