<% title "Szczegóły pracownika nr. #{params[:id]}" %>
<% @array_of_effectivities =[]
   @array_of_dates =[]  
   
  
     @tmp =[]
     @czas_dostepny =[]
     @tabela_dat = []
     @workers_id_table =[]
  data_table = GoogleVisualr::DataTable.new
  data_table.new_column('string', 'Dzień')
  data_table.new_column('number', 'Minimum')
  data_table.new_column('number', 'Maximum')
  j = 1

  @workers_id_table << params[:id]
  @imie_nazwisko = imie_nazwisko_worker(params[:id])[0] +" "+ imie_nazwisko_worker(params[:id])[1]
  data_table.new_column('number', @imie_nazwisko.humanize )
    cmin = cel_min(params[:id])[0].to_f
    cmax = cel_max(params[:id])[0].to_f
    @test = []
    @rn.each do |a|
    if czas_dostepny_data(a.rn_id_worker_merx, a.rn_data.strftime('%Y-%m-%d')) != 0
      czas_dostepny ||= czas_dostepny_data(a.rn_id_worker_merx, a.rn_data.strftime('%Y-%m-%d'))*60
    else
      czas_dostepny = 450
    end
     @test << czas_dostepny

     @narray = Array.new(1,0)
     @narray.insert(0,a.rn_data,cmin,cmax)
     @narray.insert(j+2,(a.rn_normatywy_czas_suma_tg/czas_dostepny).round(2)*100)
     @narray.delete_at(j+3) 
     @tabela_dat << [params[:id], a.rn_data]
     @tmp <<  @narray
     
    end
   j = j + 1


  @celes = []
  k =0
  @tabela_dat.uniq.each do |td|
      @celes << [td[1],cel_min_by_date(td[0],td[1].strftime('%Y-%m-%d'))[0].to_f,cel_max_by_date(td[0],td[1].strftime('%Y-%m-%d'))[0].to_f ]
      k = k+1
  end
  @cele_tabela = @celes.group_by(&:first).map do |date, rs|
  values = rs[0].zip(*rs[1..-1]).drop(1).map { |xs| xs.reduce(:+) }
  [values].flatten

  end

    @aggregated_rows = @tmp.group_by(&:first).map do |date, rs|
  values = rs[0].zip(*rs[1..-1]).drop(3).map { |xs| xs.reduce(:+)}

  [date.strftime('%d-%m-%Y'), values].flatten
  end 
  i=0
  @aggregated_rows.each do |ar|
    ar.insert(1,@celes[i][1], @celes[i][2] )
    i+=1
  end
   # @aggregated_rows << ["11-04-2013", 100.0, 120.0, 120]
  data_table.add_rows(@aggregated_rows.sort)
 
  opts   = { 
        :width => '100%', 
        :height => '100%', 
      

         :vAxis => {:title => 'Efektywność',
           viewWindowMode: 'explicit',
    
              viewWindow:{
                min:0
              }

          }, 
       
        :chartArea => { :left => 50,  
                        :top => 50,
                        :width => 800,
                        :height => 350
                        }, 
        :seriesType => 'bars', 
        :bar => {groupWidth: 80},

        :series => {
          '1' => {:type => 'line'}, 
          '0' => {:type => 'line'}
          } 

        }
  @chart = GoogleVisualr::Interactive::ComboChart.new(data_table, opts)

  %>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%  @array = @tmp.group_by(&:first).map do |date, rs|
  values = rs[0].zip(*rs[1..-1]).drop(3).map { |xs| xs.reduce(:+)}
  
  [date.strftime('%Y-%m-%d'), values].flatten
  end 
  %>

<div id='chart' class="chart"></div>
<%= render_chart @chart, 'chart' %>

  <h1>Dane o pracowniku: </h1>
    <table class="dane-pracownik" >
    	  <tr>
    	  	<td class="header">Id pracownika: </td><td><%= @worker.id_worker %></td>
    	  </tr><tr>
    	  	<td class="header">Id pracownika merx: </td><td><%= @worker.id_worker_merx %></td>
      </tr><tr>	
    	  	<td class="header">Imie:</td><td><%= @worker.first_name %></td>
    	  </tr><tr>
    	  	<td class="header">Nazwisko:</td><td><%= @worker.last_name %></td>
    	  </tr><tr>
	    <% 
        val1 = minimum_effectivity(params[:id])
        val2 = cel_min(params[:id])[0].to_f
        val3 = cel_max(params[:id])[0].to_f
       
            if val2 == 0 and val3 == 0
              val4 = 0
            else
              val4 = (((val1-val2)/(val3-val2))*100).round
            end

          if val4 < 0
            @klasa = "bad"
          else
            @klasa = "ok"
          end

       %>
       <td>Najmniejszy poziom<br/>zrealizowania celu:</td><td class="<%= @klasa %>"><%= val4 %>%</td>
    	  </tr><tr>
    	  	<td class="header">Effektywność minimum:</td><td><%= val2 %>%</td>
    	  </tr>
    	  <tr>
    	  	<td class="header">Effektywność maximum:</td><td><%= val3 %>%</td>
    	  </tr>
    	  <tr>
    	  	<td class="header">Data ostatniego update:</td><td>

          <% if last_update_effectivity(params[:id]) != nil %>
          <%= last_update_effectivity(params[:id]).strftime("%d-%m-%Y r. ") %>
          <% else  %>
          0
          <% end %>
        </td>
         </tr>
    </table>
  <div id="1" class="middle-content">

  <h1>Zrealizowane cele</h1>
    <table id="zrealizowane-cele" style="margin-bottom:40px;" class="tabela-efektywnosci" >
      <thead>
        <tr>
          <th>Efektywność</th>
          <th>Poziom zrealizowania celu</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% @array.each do |f| %>
          <tr>

            <% 
          val1 = f[1]
          val2 = cel_min_by_date(params[:id],f[0])[0].to_f
          val3 = cel_max_by_date(params[:id],f[0])[0].to_f
              if  val1 != nil
              if val2 == 0 and val3 == 0
                val4 = 0
              else
                val4 = (((val1-val2)/(val3-val2))*100).round
              end
              end
            if val4 < 0
              @klasa = "bad"
            else
              @klasa = "ok"
            end
           %>
          <td><%= f[1]%>%</td>
          <td class="<%= @klasa %>"><%= val4 %>%</td>
          <td><%= f[0]%></td>
         
  
          </tr>
          <% end %>
        </tr>
      </tbody>
    </table>

<div id="insert" style="margin-top:20px;margin-left:20px;width:400px;float:right;">


 <%= form_for @nowa_efektywnosc do |f| %>
  
    <%= render(:partial => 'efektywnosc', :locals => {:f => f}) %>
    
    
  <% end %>
  
</div>
</div>
  <div id="1" class="middle-content">


    <h1 style="clear:left;">Cele</h1>
    
  <table style="margin-bottom:40px;" class="tabela-efektywnosci" >
      <thead>
        <tr>
          <th>Cel minimum</th>
          <th>Cel maximum</th>
          <th>Data celu</th>
        </tr>
      </thead>
      <tbody>
         <% if @cele == nil || @cele.empty? %>
      
     
       <tr>
       <td>0</td><td>0</td><td>-</td>
        </tr>


       <% else %>
         <% @cele.each do |cel| %>
      <tr>
        <td><%= cel.ce_minimum %>%</td>
        <td><%= cel.ce_maximum %>%</td>
          
          <% if cel.ce_data != nil %>
          <td><%= cel.ce_data.strftime("%d-%m-%Y r.") %></td>
        <% else %>
          <td>-</td>
        <% end %>
          <% if permitted_to? :delete, :celes %>
        <td><%= button_to("", usun_po_id_cel_path(cel.id), :class=>"delete" ) %></td>
      <% end %>
      </tr>
         <% end %> 
     <% end %>
     
      </tbody>
    </table>

<div id="insert" style="margin-top:20px;width:400px;float:right;">
  


 <%= form_for @nowy_cel do |f| %>
  
    <%= render(:partial => 'cele', :locals => {:f => f}) %>
    
    
  <% end %>

</div>
</div>
    <div id="1" class="middle-content">

  <h1 style="clear:left;">Premie</h1>
    
  <table style="margin-bottom:40px;" class="tabela-efektywnosci" >
      <thead>
        <tr>
          <th>Tytułem</th>
          <th>Wartość premii</th>
          <th>Obowiązuje od</th>
          <th>Obowiązuje do</th>
        </tr>
      </thead>
      <tbody>
        
         <% @premie.each do |premia| %>
      <tr>
        <td><%= premia.pe_tytul %></td>
        <td><%= premia.pe_wartosc %></td>
        <td><%= premia.pe_data_od %></td>
        <td><%= premia.pe_data_do %></td>
         
          <% if permitted_to? :delete, :premies %>
        <td><%= button_to("", usun_po_id_premia_path(premia.id), :class=>"delete" ) %></td>
      <% end %>
      </tr>

     <% end %>
     
      </tbody>
    </table>

<div id="insert" style="margin-top:20px;width:400px;float:right;">
  


 <%= form_for @nowa_premia do |f| %>
  
    <%= render(:partial => 'premia', :locals => {:f => f}) %>
    
    
  <% end %>

</div>
</div>

