<% title "Szczegóły pracownika" %>
<% @array_of_effectivities =[]
   @array_of_dates =[]  
   @effec.each do |a| 

   @array_of_effectivities << a.effectivity
   @array_of_dates << [a.created_at.year ,a.created_at.month, a.created_at.day]
  
end

  %>

<script>
   $(document).ready(function() {
    var chart = new Highcharts.Chart({

        chart: {
            renderTo: 'container_chart',
        },
        title: {
            text: 'Wykres Efektywności'
        },
        xAxis: {
            type: "datetime"        },
        yAxis: {
             max: <%= cel_min(params[:id])[0].to_f + 60%>,
            title: {
                text: 'Efektywność w procentach'
            }, 
            plotLines : [{
            value : <%= cel_min(params[:id])[0].to_f %> ,
            color : 'red',
            dashStyle : 'shortdash',
            width : 2,
            label : {
            text : 'minimum'
            }
        },
          {
            value : <%= cel_max(params[:id])[0].to_f %> ,
            color : 'green',
            dashStyle : 'shortdash',
            width : 2,
            label : {
            text : 'maximum'
            }

        }]


        },

        series: [{
          

            type: 'column',
            name: '<%= @worker.first_name + " " + @worker.last_name %>',
            data: [
            <% 
            i = 0
            @array_of_dates.each do |f| %>
            [Date.UTC(<%= f.join(",") %>),  <%= @array_of_effectivities[i] %>],
            <% i = i + 1 %>
            <% end %>
               ]

            
                
        
          },
        
   
        ],
    });
});

   </script>


<div id="container_chart" class="wykres-efektywnosc">

</div>
  
  <h1>Dane o pracowniku: </h1>
    <table class="listing" >
    	  <tr>
    	  	<td class="header">Id pracownika: </td><td><%= @worker.id_worker %></td>
    	  </tr><tr>
    	  	<td class="header">Id pracownika merx: </td><td><%= @worker.id_worker_merx %></td>
      </tr><tr>	
    	  	<td class="header">Imie:</td><td><%= @worker.first_name %></td>
    	  </tr><tr>
    	  	<td class="header">Nazwisko:</td><td><%= @worker.last_name %></td>
    	  </tr><tr>
    	    <% 
      val1 = minimum_effectivity(params[:id])
      val2 = cel_min(params[:id])[0].to_f
      val3 = cel_max(params[:id])[0].to_f
     
          if val2 == 0 and val3 == 0
            val4 = 0
          else
            val4 = (((val1-val2)/(val3-val2))*100).round
          end

        if val4 < 0
          @klasa = "bad"
        else
          @klasa = "ok"
        end

       %>
       <td>Najmniejszy poziom<br/>zrealizowania celu:</td><td class="<%= @klasa %>"><%= val4 %>%</td>
    	  </tr><tr>
    	  	<td class="header">Effektywność minimum:</td><td><%= val2 %>%</td>
    	  </tr>
    	  <tr>
    	  	<td class="header">Effektywność maximum:</td><td><%= val3 %>%</td>
    	  </tr>
    	  <tr>
    	  	<td class="header">Data ostatniego update:</td><td><%= last_update_effectivity(params[:id]).strftime("%d-%m-%Y r. ") %></td>
    	  </tr>
    </table>

  <h1>Efektywności</h1>
    <table class="tabela-efektywnosci">
      <thead>
        <tr>
          <th>Efektywność</th>
          <th>Poziom zrealizowania celu</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @effec.each do |f| %>
          <tr>
            <% 
          val1 = f.effectivity
          val2 = cel_min(params[:id])[0].to_f
          val3 = cel_max(params[:id])[0].to_f
         
              if val2 == 0 and val3 == 0
                val4 = 0
              else
                val4 = (((val1-val2)/(val3-val2))*100).round
              end

            if val4 < 0
              @klasa = "bad"
            else
              @klasa = "ok"
            end

           %>
          <td><%= f.effectivity %>%</td>
          <td class="<%= @klasa %>"><%= val4 %>%</td>
          <td><%= f.created_at.strftime("%d-%m-%Y r. ")%></td>
          </tr>
          <% end %>
        </tr>
      </tbody>
    </table>



    <h1>Cele</h1>
     <% if Cele.all.include?(@worker.id) == true %>
    <table class="tabela-cele" >
      <thead>
        <tr>
          <th>Cel minimum</th>
          <th>Cel maximum</th>
          <th>Data dodania</th>
        </tr>
      </thead>
      <tbody>
        <% @cele.each do |cel| %>
      <tr>
        <td><%= cel.ce_minimum %>%</td>
        <td><%= cel.ce_maximum %>%</td>
        <td><%= cel.created_at.strftime("%d-%m-%Y") %></td>
     
      </tr>
     <% end %> 
      </tbody>
    </table>
<% end %>
     <div id="insert">
  <p>Dodaj nowy cel:</p>

 <%= form_for @nowy_cel do |f| %>
  
    <%= render(:partial => 'cele', :locals => {:f => f}) %>
    
    
  <% end %>

</div>

