<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Aplikacja - <%= yield(:title) || "Aplikacja" %></title>
      <%= stylesheet_link_tag('jquery-ui-1.10.2.custom.css','ColVis.css','dataTables.editor.css','TableTools.css','demo_table_jui','worker', 'token-input-facebook') %>
    <%= javascript_include_tag  "jquery-1.8.2.min.js","jquery.dataTables.js", "ZeroClipboard.js","TableTools.js","jquery-ui-1.10.2.custom.js", "TableRealizacjaNorm.js.erb", "TabelaTransportowa.js.erb", "dataTables.editor.js" , "ColVis.min.js"%>
    <%= javascript_include_tag  "jquery.tokeninput","calendar.js", "moment.js" %>

    <meta name="author" content="Aleksander Gładysz">
 
  </head>

  <body>
    <div class="header-pipe-bar">
      <% if current_user %>

        <div id="navigation">
       <div style="float:left; width:auto; padding-top:5px;">
         
       Witaj: <%= current_user.login.humanize %>.</div>
        <ul>
          
            
          <!--   <% if permitted_to? :szczegoly, :workers %>
            <li><%= link_to "Dashboard", szczegoly_po_id_path(current_user.id) %></li>
            <% end %> -->

          <% if permitted_to? :lista, :workers %>
            <li style="margin-left:20px;"><%= button_to "", lista_pracownikow_path,  :class => "ico pracownik_nav", :title => "Lista pracowników" %></li>
          <% end %>

          <% if permitted_to? :new, :searches %>
          <li><%= button_to "", nowe_szukanie_path, :class => "ico search_nav", :title => "Szukaj pracownika" %></li>
          <% end %>
          <% if permitted_to? :calendar, :effectivenes %>
          
          <li><%= button_to "", effectivenes_calendar_path,  :class => "ico calendar_nav", :title => "Kalendarz efektywności"  %></li>
          <% end %>
        
          <% if permitted_to? :index, :tabelanormatywows %>
            <li><%= button_to "", tabela_normatywow_path,  :class => "ico tn_nav", :title => "Tabela normatywów"%></li>
          <% end %> 
           <% if permitted_to? :index, :tabelatransportowas %>
            <li><%= button_to "", tabela_transportowa_path,  :class => "ico tt_nav", :title => "Tabela transportowa" %></li>
          <% end %>
          <% if permitted_to? :index, :typyczynnoscis %>
            <li><%= button_to "", typy_czynnosci_path ,  :class => "ico tc_nav", :title => "Tabela czynności"%></li>
          <% end %>

          <% if permitted_to? :index, :tabelaczasowdostepnychs %>
            <li><%= button_to "", tabela_czasow_dostepnych_path,  :class => "ico cd_nav", :title => "Tabela czasow dodatkowych" %></li>
          <% end %> 

            <% if permitted_to? :index, :tabelaczasowdostepnychs %>
            <li><%= button_to "", tabela_realizacji_norm_path,  :class => "ico rn_nav", :title => "Tabela realizacji norm" %></li>
          <% end %> 
           <% if permitted_to? :index, :pomocniczes %>
            <li><%= button_to "", pomocnicze_path,  :class => "ico dodatki_nav", :title => "Dane dodatkowe" %></li>
          <% end %>
           
        
          <% if permitted_to? :import_render, :workers %>
            <li ><%= button_to "", import_danych_path,  :class => "ico imp_nav", :title => "Import danych" %></li>
          <% end %>


            <li style="float:right; margin-right:20px;"> <%= button_to "", wyloguj_path, :class=>"ico exit_nav", :title =>"Wyloguj" %></li>



      <% end %>
        </ul>
      </div>
     
     
    </div>

    
      <div id="content">
        <div id="container">
          
     
     <% if !flash[:notice].blank? %>
      <div class="notice">
         
        <%= flash[:notice] %>
      </div>

      <% end %>


        <%= yield %>
      </div>
         </div>
    <!-- <div id="footer">
      
    </div> -->
  </body>
</html>
