<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Aplikacja - <%= yield(:title) || "Aplikacja" %></title>
    <%= stylesheet_link_tag('worker') %>
    <%= javascript_include_tag('application','jquery-1.8.2.min', 'highcharts')%> 
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  
    <meta name="author" content="Aleksander Gładysz">


  </head>

  <body>
    <div class="header-pipe-bar">
      <% if current_user %>

        <div id="navigation">
        <ul>
            Witaj: <%= current_user.login.humanize %>.
            
            <% if permitted_to? :szczegoly, :workers %>
            <li><%= link_to "Dashboard", szczegoly_po_id_path(current_user.id) %></li>
            <% end %>


          <% if permitted_to? :new, :searches %>
          <li><%= link_to "Szukaj pracownika", nowe_szukanie_path %></li>
          <% end %>
          <% if permitted_to? :calendar, :effectivenes %>
          
          <li><%= link_to "kalendarz", effectivenes_calendar_path %></li>
          <% end %>
        
         
          <% if permitted_to? :new, :workers %>

          <li><%= link_to "Dodaj nowego pracownika", nowy_pracownik_path %></li>
          <% end %>
        
         

          <% if permitted_to? :lista, :workers %>
            <li><%= link_to "Lista pracowników", lista_pracownikow_path %></li>
          <% end %>
          <% if permitted_to? :index, :tabelanormatywows %>
            <li><%= link_to "Tabela normatywów", tabela_normatywow_path %></li>
          <% end %> 
           <% if permitted_to? :index, :tabelatransportowas %>
            <li><%= link_to "Tabela transportowa", tabela_transportowa_path %></li>
          <% end %>
          <% if permitted_to? :index, :typyczynnoscis %>
            <li><%= link_to "Typy czynności", typy_czynnosci_path %></li>
          <% end %>
          <% if permitted_to? :import_render, :workers %>
            <li><%= link_to "Import danych", import_danych_path %></li>
          <% end %>

          <% if permitted_to? :index, :pomocniczes %>
            <li><%= link_to "Pomocnicze Dane", pomocnicze_path %></li>
          <% end %>
           

           <%= link_to "Wyloguj", wyloguj_path %>


      <% else %>
      <%= link_to "Zarejestruj", rejestruj_path %> or
      <%= link_to "Zaloguj",  zaloguj_path %>
      <% end %>
        </ul>
      </div>
     
     
    </div>

    
      <div id="content">
        <div id="container">
          
     
     <% if !flash[:notice].blank? %>
      <div class="notice">
         
        <%= flash[:notice] %>
      </div>

      <% end %>


        <%= yield %>
      </div>
         </div>
    <!-- <div id="footer">
      
    </div> -->
  </body>
</html>
